body {
	text-align: center;
}


.main {
	border : solid gray 2px;
}
.count {
	font-size: 100px;
	margin: 50px;
	color: red;
	
}

/*span {
	font-size: 100px;
	color: red;
	text-align: center;
}*/
 #input2 {
 	font-size: 50px;
 	width: 300px;
 }

